.newemployee,
.new-user,
.new-directorate {
    padding: 2rem;
    margin: 75px 25px 25px 275px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.newemployee form,
.new-user form,
.new-directorate form {
    width: 100%;
    margin: 0 auto;
}

.newemployee form input,
.new-user form input,
.new-directorate form input {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.new-user form select,
.newemployee form select,
.new-directorate form select {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.95rem;
}

.new-user form select option,
.newemployee form select option,
.new-directorate form select option {
    padding: 12px 12px 12px 40px;
}

.newemployee form .submit-btn,
.new-user form .submit-btn,
.new-directorate form .submit-btn {
    width: 75%;
    padding: 12px;
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.newemployee form .cancel-btn,
.new-user form .cancel-btn,
.new-directorate .cancel-btn {
    background-color: rgb(197, 0, 0);
    margin-top: 1rem;
        width: 75%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.newemployee form button:hover,
.new-user form button:hover,
.new-directorate form button:hover {
    opacity: 0.8;
}
